<script type='text/javascript' src="{{ STATIC_URL }}js/jquery.fancybox.js"></script>  
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.fancybox.css">
<script type='text/javascript'>//<![CDATA[    
    $(window).load(function(){    
    $(document).ready(function(){    
    $('.fancybox').fancybox();    
    });    
});//]]>    
</script> 
    <div class="gallery-photo{% if css %} {{ css }}{% endif %}">
        <a style="margin:5px" class="fancybox" title="{{ photo.title }}" data-fancybox-group="gallery" href="{{ photo.image.url }}" ><img src="{% ifequal is_thumb '1' %}{{ photo.get_thumbnail_url }}{% else %}{{ photo.get_display_url }}{% endifequal %}" alt="{{ photo.title }}"/></a>
        {% if photo.caption %}<p>{{ photo.caption }}</p>{% endif %}
    
    </div>
