<script type='text/javascript' src="{{ STATIC_URL }}js/jquery.fancybox.js"></script>  
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.fancybox.css">
<script type='text/javascript'>//<![CDATA[    
    $(window).load(function(){    
    $(document).ready(function(){    
    $('.fancybox').fancybox();    
    });    
});//]]>    
</script> 
    <div class="photo-gallery{% if css %} {{ css }}{% endif %}">

        <h2><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></h2>
        <div class="row">
	        {% for photo in gallery.sample|slice:'3' %}
	        <div class="gallery-gallery">
            <a href="{{ photo.get_display_url }}" class="fancybox" title="{{ photo.title }}" data-fancybox-group="gallery"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a>
        	</div>
	        {% endfor %}
	    </div>
    </div>
