body {
    background-color: #021331;
    color:white;
}
#header{
    background: url("/static/img/header.jpg") no-repeat;
}
#header img{
    position: relative;
    bottom: 37px;
    left: 225px;
}
.container{
	width:1024px;
	margin:0 auto;
    background: url("/static/img/fon.jpg") repeat-y;
}
.conteiner_inner{
    background: url("/static/img/sub header.jpg") no-repeat;
    margin:0 auto;
    padding: 0 77px;
    min-height: 400px;
}
#hmenu ul{
    margin-bottom: 30px;
}
#hmenu li {
    background: url("/static/img/hmenu.png") no-repeat;
	display: inline-block;
	font-size:15px;
    margin-right:37px;
    width:171px;
    height: 36px;
    text-align: center;
    padding-top: 8px;
}
#hmenu a{
    color:#fff;
    font-weight: bold;
    text-decoration: none;
}
#hmenu a:hover,
#hmenu li.selected a{
    color:#2bd8ff;
}
#main_content{
    clear: both;
}
.container_banner{
    margin-bottom: 50px;
}
.page_title{
    font-weight: bold;
    color:#2bd8ff;
    margin: 0 0 0 30px;
    font-size: 20px;
}
footer{
    background-color: #010c5b;
    color: #77f5ff;
}
footer a{
    color: #77f5ff;
    float: right;
}
footer p {
    padding: 10px;
}

footer div.page-header {
    border-bottom: 15px solid #414A83;
    margin: 0;
}
form.well {
    background-color: #021331;
}
label{
    color:#fff;
}
.gallery-photo{
    display: inline-block;
}
#template_content img{
    background: url("/static/img/image_border.png") no-repeat;
    width: 224px;
    height: 150px;
    padding: 17px;
}
div.question_block{
    margin-bottom: 60px;
}
div.question{
    font-weight: bold;
    color: #77f5ff;
}