 <style>
    #slides {
      display: none;
      width:860px;
      height: 270px;
      overflow: visible !important;
      clear:both;
    }
    .slidesjs-pagination {
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 12px;
      height: 0;
      padding-top: 12px;
      background-image: url({{STATIC_URL}}img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    .slidesjs-container{
        border:5px solid #2bd8ff;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
    }

  </style>
  <!-- End SlidesJS Optional-->

  
  <!-- The container is used to define the width of the slideshow -->
  <div class="container_banner">
    <div id="slides">
        <img src="{{STATIC_URL}}img/karusel.png">
        <img src="{{STATIC_URL}}img/karusel.png" width="860" height="270">
        <img src="{{STATIC_URL}}img/karusel.png" width="860" height="270">
        <img src="{{STATIC_URL}}img/karusel.png" width="860" height="270">
        <img src="{{STATIC_URL}}img/karusel.png" width="860" height="270">
        <img src="{{STATIC_URL}}img/karusel.png" width="860" height="270">
        <img src="{{STATIC_URL}}img/karusel.png" width="860" height="270">
    </div>
  </div>
  <!-- End SlidesJS Required: Start Slides -->

  <!-- SlidesJS Required: Link to jQuery -->
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <!-- End SlidesJS Required -->

  <!-- SlidesJS Required: Link to jquery.slides.js -->
  <script src="{{STATIC_URL}}js/jquery.slides.min.js"></script>
  <!-- End SlidesJS Required -->

  <!-- SlidesJS Required: Initialize SlidesJS with a jQuery doc ready -->
  <script>
    $(function() {
      $('#slides').slidesjs({
        width: 860,
        height: 269,
        navigation: false
      });
    });
  </script>
