{% load cms_tags sekizai_tags %}
{% load i18n %}
{% load menu_tags %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% page_attribute "page_title" %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% page_attribute meta_description %}">
    <meta name="keywords" content="{% page_attribute meta_keywords %}"/>
    {% if request.current_page.reverse_id == "main" %}<meta name='yandex-verification' content='4100027fb45d32a0' />
    <meta name="google-site-verification" content="v3VibC-hsz1CKuY4UD4OjA1vxGCrXalLhyBtRK8nMQg" />{% endif %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- The styles -->       
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <!--<link rel="stylesheet/less" href="{{ STATIC_URL }}css/style.less">-->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap_01.css" rel="stylesheet">
    <!--<script src="{{ STATIC_URL }}js/less.js"></script>-->
    {% render_block "css" %}
    {% block head %}{% endblock %}
    <!-- The fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png">

    <script type='text/javascript' src="{{ STATIC_URL }}js/jquery.fancybox.js"></script>  
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.fancybox.css">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.custom.css" rel="stylesheet">
    <script type='text/javascript'>//<![CDATA[
    $(window).load(function(){
    $(document).ready(function(){
    $('.fancybox').fancybox();
    });
    });//]]>
    </script> 
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-41500006-1', 'akvanorm.com.ua');
    ga('send', 'pageview');
    </script>
  </head>
  <body>
{% cms_toolbar %}

<div class="container">
  <div class="hidden-phone hidden-tablet"></div>
      {% if messages %}
      {% for m in messages %}
      <div class="msg-alert alert alert-{% if m.tags == 'error' %}error{% else %}info{% endif %}">
        <a class="close" data-dismiss="alert" href="#">×</a>
        {{ m }}
      </div>
      {% endfor %}
      <script type="text/javascript">
        $('.msg-alert').delay(5000).hide(1);
      </script>
    {% endif %}
    {% block top_content%}{% include "top_block.html" %}{% endblock %}
    <div class="conteiner_inner">
      {% block horizontal_menu_content%}
        {% include "horizontal_menu_block.html" %}
      {% endblock %}
        {% placeholder banner_block %} 
      <div id="main_content">
        {% block template_content%}
        <h1 class="page_title">{% page_attribute "page_title" %}</h1>
        <img src="{{STATIC_URL}}img/title.png" >
        {% endblock %}
        <div id="template_content">
        {% placeholder template_content %}
        </div>
    </div>
    </div>
</div> <!-- /container -->
{% block footer_content%}{% include "footer_block.html" %}{% endblock %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
(w[c] = w[c] || []).push(function() {
try {
w.yaCounter21444925 = new Ya.Metrika({id:21444925,
webvisor:true,
clickmap:true,
trackLinks:true,
accurateTrackBounce:true});
} catch(e) { }
});
var n = d.getElementsByTagName("script")[0],
s = d.createElement("script"),
f = function () { n.parentNode.insertBefore(s, n); };
s.type = "text/javascript";
s.async = true;
s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
if (w.opera == "[object Opera]") {
d.addEventListener("DOMContentLoaded", f, false);
} else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21444925" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script src="{{ STATIC_URL }}js/bootstrap/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap/bootstrap-datepicker.js"></script>
{% render_block "js" %}
{% block finish %}{% endblock %}
</body></html>

