<footer>
<div class="page-header"></div>
<p>&copy; 2013 - Сайт "Акванорм", все права защищены     
    <a href="http://www.aquaweb.com.ua/read/ru/sozdanie-sajtov">Создание сайтов ООО "Аква-вебстудио"</a>
</p>
</footer>